<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Movie Database</title>
    <!-- My CSS File -->
    <link rel="stylesheet" href="/app.css">
    <!-- Font Awesome CSS File -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts CSS File -->
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>