<div class="topBox bg-white p-5 pageView">
    <div class="container">
        <div class="column text-dark pl-lg-5 pr-lg-5 mr-lg-5 ml-lg-5 mt-5 pt-5 mb-0 pb-0 text-left textSizUp">
            <h1>404 Error</h1>
            <hr class="bg-white col-auto">
            <p>This is not the page you are looking for.</p>
            <p>And if it is, then here is a couple reasons why it may not be working:</p>
            <ul>
                <li>The URL is invalid.</li>
                <li><a routerLink="/">You are drunk and need to return home</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>While you're here, check out these cute kittys</h3>
    <img src="https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
    <img src="https://images.unsplash.com/photo-1589720247367-97b62ed5cfd1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
    <img src="https://images.unsplash.com/photo-1597239362683-604237af4ba4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
    <img src="https://images.unsplash.com/photo-1496661269814-a841e78df103?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
    <img src="https://images.unsplash.com/photo-1603348929190-0257ea827c97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
    <img src="https://images.unsplash.com/photo-1511694009171-3cdddf4484ff?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
        class="col-12 col-lg-5 p-2 rounded">
</div>
<app-footer></app-footer>