<div class="form-group">
    <input [class.is-invalid]='ngControl.touched && ngControl.invalid' type={{type}} class="form-control pr-4"
        [formControl]="ngControl.control" placeholder={{label}} autocomplete="off">
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback text-left">
        {{label}} is required
    </div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback text-left">
        {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback text-left">
        {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}} characters
    </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback text-left">
        Passwords must match
    </div>
</div>