<h1>Home Page</h1>

<div style="border: 2px solid grey; width: 200px; padding: 1rem;" class="container">
    <li><a href="/login">Login</a> / <a href="/register">Sign Up</a></li>
    <li><a href="/logout">Logout</a></li>
</div>
