<h1>Login Page</h1>

<form action="/login" method="POST" >
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>

<br>
<h4>OR</h4>
<br>
<li><a href="/register">Sign Up</a></li>