<h1>Sign Up Form</h1>

<form action="/register" method="POST" >
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign Up</button>
</form>
<br>
<h4>OR</h4>
<br>
<li><a href="/login">Login</a></li>