<h1>This is the Secret Page</h1>
<p>You Found Me</p>

<img style="width: 200px; height: 200px; border: 2px dotted purple;" src="https://www.thesun.co.uk/wp-content/uploads/2017/11/nintchdbpict000365967367.jpg">
<br>
<br>
<li><a href="/logout">Logout</a></li>
