<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemoApp</title>
    <style>
        body {
            background-color: rgb(32, 44, 53);
            color: white;
            text-align: center;
            font-family: fantasy;
        }
        a {
            text-decoration: none;
            outline: none;
            color: white;
            margin: 0.8rem;
        }
        a:hover {
            color: rgb(54, 172, 240);
        }
        .container {
            border-top: 2px solid white;
            width: 20rem ;
            padding-top: 1rem ;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    
