html {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}


body.show {
    background-color: rgb(216, 216, 216);
	cursor: defat;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	scrollbar-width: thin;
    scrollbar-color: #2c36577e #2c36577e;
}


/* Classes */

.header {
	position: relative;
	width: 100%;
	height: 60vh;
	overflow: hidden;
	background-color: #262b2e;
}



div.btnbg4 {
	width: 100%;
	position: relative;
	z-index: 930;
	padding-top: 30vh;
	
}

header.infoPage {
	padding: 0;
	width: 100%;
}

/* ID's */
#bgArea{
    background-color: #262b2e;
    width: 100%;
	height: 80vh;
    transition: 0.4s;
}


#headBG {
    background-color: #262b2e;
}


