<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>RESTful Blog App</title>
  <!-- My CSS File -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <!-- Semantic UI CSS File -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body class="dark">

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="ui medium header item"><i class="coffee icon"></i>RESTful Blog App</div>
      <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Blog</a>
      
    </div>
  </div>